@mixin mint-card-bg {
  background: var(--primary-very-low);

  @media (prefers-color-scheme: light) {
    background: var(--header_background);
  }
}

:root {
  --mint-border-radius: 10px;
  --mint-hover-shadow: 4px 4px var(--tertiary-high);
  --mint-color-mint: #8442ff;
  --mint-color-blue: #bda3ef;
}

$color-square-gradient: linear-gradient(
  4deg,
  #8442ff 55%,
  #cbb7f1 100%
);
$color-square-webkit-gradient: -webkit-linear-gradient(
  4deg,
  #8442ff 55%,
  #e9ddff 100%
);
